In [11]:
# Задание 1. Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd

# взят датасет ml-latest-small 
 
rating = pd.read_csv('ratings.csv')
movie = pd.read_csv('movies.csv')


data = rating[rating['rating'] == 5.0].groupby(['movieId']).size().sort_values(ascending=False).head(1)# получаем объект типа series
df = pd.DataFrame(data) # приводим этот объект к типу DF, чтобы применить merge

df.merge(movie, on='movieId', how='left') #получается кривенько, но результат есть

   movieId    0                             title       genres
0      318  153  Shawshank Redemption, The (1994)  Crime|Drama

In [20]:
# Задание 2. По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

power_cunsumption = pd.read_csv('power.csv')
consumption_filtered = power_cunsumption[((power_cunsumption['category'] == 4)|(power_cunsumption['category'] == 12)|(power_cunsumption['category'] == 21))&
                  ((power_cunsumption['country']=='Latvia')|(power_cunsumption['country']=='Lithuania')|(power_cunsumption['country']=='Estonia'))&
                 ((power_cunsumption['year']==2005)|(power_cunsumption['year']==2006)|(power_cunsumption['year']==2007)|(power_cunsumption['year']==2008)|(power_cunsumption['year']==2009)|(power_cunsumption['year']==2010))&
                  (power_cunsumption['quantity'] > 0)] #создаем таблицу, отфильтрованную по группе условий

consumption_filtered['quantity'].sum() #считаем сумму значений столбца "количество"

240580.0

In [64]:
#Задание 3. Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

df = pd.read_html('https://coronavirus.jhu.edu/data/mortality')[0] #находим список и преобразуем его нулевой элемент в dataframe 
df.head()

      Country  Confirmed  Deaths Case-Fatality  Deaths/100K pop.
0     Belgium     550264   15196          2.8%            133.04
1  San Marino       1358      43          3.2%            127.28
2        Peru     939931   35317          3.8%            110.40
3     Andorra       6066      76          1.3%             98.69
4       Spain    1541574   42291          2.7%             90.51